# 📁 Data & Artifacts
archive/
archive.zip
resume_dataset.csv

# 🧪 Python cache
__pycache__/
*.pyc

# 🤖 Virtual environments
venv/
tf-env/

# 📄 Model artifacts (if any later)
*.h5
*.keras
*.pkl
resume_classifier_model.keras
label_encoder.pkl